################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/UserManagementAPI/FileContentIndex
/.vs/UserManagementAPI/FileContentIndex/08734bee-5081-4bca-8ccc-a416d402b971.vsidx
/12345.pub
/.vs/UserManagementAPI/FileContentIndex/08734bee-5081-4bca-8ccc-a416d402b971.vsidx
